    html,
    body,
    #view-div {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    #options-div {
      width: 250px;
      padding: 0 12px 0 12px;
      background-color: white;
      padding: 10px;
      visibility: hidden;
    }
    #slides-div {
      background-color: white;
      color: dimgray;
      padding: 10px;
      visibility: hidden;
      bottom: 20px;
      overflow-y: auto;
      text-align: center;
      height: 350px;
      width: 150px;
    }

    #slides-div .slide {
      /* Show cursor as pointer when on a slide */
      cursor: pointer;
      margin-bottom: 6px;
    }

    #slides-div .slide .title {
      /* Center the title text */
      text-align: left;
    }
    /* Draw active slide with a nice border around the thumbnail */

    #slides-div .slide.active img {
      box-shadow: 0px 0px 7px 1px dimgray;
    }

    #if-div {
      width: 55%;
      height: 50vh;
      position: absolute;
      z-index: 400;
      bottom: 20px;
      right: 20px;
    }

    #if-close {
      position:absolute;
      right:2px;
      top:2px;
    }

    .hidden {
      display: none !important;
    }